.headerBar .MuiToolbar-root{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.header-logo a:hover svg, .header-logo a:hover .title{
    color: lightgray;
}
.header-logo svg, .header-logo .title {
    color: white;
}
.header-buttons a{
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.header-buttons a:hover button{
    color: lightgray;
    border-color: lightgray;
}
.header-buttons button{
    color: white;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid white;

}
.header-user{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-user .userInfo{
    padding-right: 1em;
}
.header-user .logout svg:hover{
    color: lightgray;
    transition: all .3s ease-in-out;

}