.logout {
    /*padding: 1.6vw;*/
    border-left: 1px solid white;
}
.logout .MuiGrid-container{
    padding: 0 1vw;
    margin: unset;
    height: 100%;
    width: unset;
}
.logout svg{
    font-size: 2em;
}
.logout svg:hover {
    cursor: pointer;
}