.issues-result{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

#issues-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

#issues-table td, #issues-table th {
    border: 1px solid #ddd;
    padding: 8px;
    max-width: 15em;
    white-space: pre-line;
}

#issues-table tr.assignee td.usernameAssignee, #issues-table tr.assignor td.usernameAssignor {
    font-weight: 600;
}

#issues-table tr.assignee{background-color: #ffffd1;}

#issues-table tr:hover {background-color: #ddd;}

#issues-table th {
    background-color: #00025b;
    color: white;
    text-align: center;
}

#issues-table .actions-btn{
    /*margin: 0 5px;*/
    transition: all .3s ease-in-out;
    color: #00025b;
    padding: 5px;
}

#issues-table .actions-btn:hover{
    cursor: pointer;
    background: #013596;
    border-radius: 5px;
}
#resolve-btn, #update-btn, #delete-btn {
    display: inline-flex;
    align-items: center;
}
#issues-table .actions-btn.update:hover{
    color: #83d0ab;
}
#issues-table .actions-btn.delete:hover{
    color: #f17c7c;
}
#issues-table .actions-btn.resolve:hover{
    color: lightsalmon;
}

#issues-table td.status, #issues-table td.type{
    text-transform: capitalize;
}

.MuiSnackbar-root .success{
    background-color: #83d0ab;
}
.MuiSnackbar-root .error{
    background-color: #f17c7c;
}
.MuiSnackbar-root #client-snackbar{
    display: flex;
    align-items: center;
}
.MuiSnackbar-root #client-snackbar svg{
    margin-right: 10px;
    font-size: 22px;
}