footer{
    margin-top: 20px;
    background: #3f51b5;
    padding: 20px 0;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer .icon-owl{
    /*background: url("../../assets/images/owl-logo.png");*/
    /*width: 5px;*/
    /*height:/ 5px;*/
}