.paper {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 100%;
    margin-top: 24px;
}

.submit{
    margin-top: 12px !important;
}

.formControl{
    margin-left: 8px;
}

.paper .errorMessageForm{
    text-align:center;
    color: red;
}

.paper .successMessageForm{
    text-align:center;
    color: green;
}