.login-bg{
    position: absolute;
    background: url("../../assets/images/background-loginPage.jpg");
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-form {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 5000;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    width: 20vw;
    /*background: #dadada;*/
    padding: 50px;
    border-radius: 7px;
}

.login-form .submit, .login-form .clear{
    background-color: #2c82cd;
    margin-top: 12px !important;
}

.login-form .MuiFilledInput-root, .login-form .MuiFilledInput-root:hover, .login-form .MuiFilledInput-root:active{
    background: white;
}

.login-form .MuiFilledInput-root.Mui-focused .MuiFilledInput-notchedOutline {
    border-color: #999999;
    border-width: 2px;
}
.login-form .errorMessageForm{
    text-align:center;
    color: red;
}

.spinnerParent{
    position: fixed;
    z-index: 5000;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    width: 5vw !important;
    height: 5vw !important;
    padding: 50px;
    border-radius: 7px;
}