.filters{
    margin-top: 1.5em;
}
.filters .MuiFormControl-root {
    margin: 5px;
    min-width: 9.5em;
}
.filters .search-btns{
    display: flex;
    justify-content: left;
    align-items: center;
}
.filters .search-btns .submit{
    margin-right: 2em;
}
.filters .btns-custom-search {
    display: inline-flex;
    margin: 5px 0;
}

.filters .btns-custom-search button {
    max-width: 15px;
    line-height: 1.5;
    margin-right: 5px;
    background: #00024b;
    color: white;
}
.filters .btns-custom-search button:hover{
    color:#fafafa;
    background: #013596;
}